@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=fallback');

@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/range-slider.css';
@import 'additional-styles/toggle-switch.css';
@import 'additional-styles/theme.css';
@import "flowbite/src/themes/default";

/* @plugin "flowbite/plugin";

@source "../node_modules/flowbite"; */

@import 'tailwindcss/utilities';

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
    .rtl {
        direction: rtl;
    }
}

/* See Alpine.js: https://github.com/alpinejs/alpine#x-cloak */
[x-cloak=""] {
    display: none;
}

.animate-spin_{

  animation: var(--animate-spin); /* spin 1s linear infinite */
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

}

.animate-spin{
  animation: spin 1s linear infinite;
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

}

.scroll-container {
    overflow-x: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    white-space: nowrap;
    overflow:scroll;
  }
  
::-webkit-scrollbar {
display: none; /* Safari and Chrome */
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0 20px 0;
  }

  .right-separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0 20px 0;
  }

  .right-separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #076d0c;
    opacity: 0.5;
  }

  .right-separator:not(:empty)::after {
    margin-left: .3em;
    }

  .separator::before,
  .separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #076d0c;
  opacity: 0.5;
  }

  .separator:not(:empty)::before {
  margin-right: .25em;
  }

  .separator:not(:empty)::after {
  margin-left: .25em;
  }

  .profile-table>tbody>tr>td:first-child{
    font-weight: bold;
  }